:root{
    --color-primary: hsl(228, 56%, 26%); /*Card background*/
    --color-secondary: hsl(229, 57%, 11%); /*icon background*/
    --color-white: #fff;
    --color-blue: hsl(229, 7%, 55%); /*You've used   of your storage*/
    --color-paleblue: hsl(243, 100%, 93%); /* 815GB*/
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    background: url(../images/bg-mobile.png);
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (min-width:1024px){
    body{
        background: url(../images/bg-desktop.png);
        background-color: var(--color-secondary);
        background-repeat: no-repeat;
        background-position-y: 32rem;
        background-attachment: fixed;
        flex-direction: row; 
    }
}

.card{
    align-items: center;
    background: var(--color-primary);
    border-radius: 9px 70px 9px 9px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1.5rem;
    padding: 3.2rem 8rem 3rem 3rem;
    width: fit-content;
}

@media screen and (min-width:1024px){
    .card,
    .storage,
    .data{
        height: fit-content;
    }

    .card{
        margin: 0 2.5rem 0 0;
    }
    
}

.card__content{
    align-self: flex-start;
}

.card__logo{
    align-self: flex-start;
    width: 100px;
    margin-bottom: 2.5rem;
}

.card__image{
    background: var(--color-secondary);
    border-radius: 6.5px;
    margin-right: 1rem;
}

.card__image1{
    width: 30px;
    padding: 0.6rem 0.7rem 0.7rem 0.7rem;
}

.card__image2{
    width: 30px;
    padding: 1.1rem 0.7rem 0.7rem 0.7rem;
}

.card__image3{
    width: 32px;
    padding: 1.2rem 0.7rem 0.8rem 0.7rem;
}


/*Storage*/
.storage{
    background: var(--color-primary);
    border-radius: 9px;
    color: var(--color-paleblue);
    margin: 0 auto;
    padding: 1.6rem 3.5rem 5rem;
    text-align: center;
    width: fit-content;
}

@media screen and (min-width:1024px){
    .storage{
        margin: 0;
        text-align: left;
        padding: 1rem 3rem 1rem;
        position: relative; 
        top: 1.4rem;
    }
}

.storage__inline{
    font-weight: 700;
}

.storage__line{
    background: var(--color-secondary);
    border-radius: 10px;
    width: 265px;
    height: 20px;
    color: var(--color-white);
}

@media screen and (min-width:1024px){
    .storage__line{
        width: 440px;
        height: 17px;
    }
}

.storage__line::before{
    content: '';
    display: inline-block;
    background: var(--color-white);
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: 10px;
    top: 2.6px;
    left: 50px;
    z-index: 99999;
}

@media screen and (min-width:1024px){
    .storage__line::before{
        left: 328px;
        top: 1px;
        width: 11px;
        height: 11px;
    }
}

.storage__line::after{
    background: rgb(255,163,153);
    background: linear-gradient(94deg, rgba(255,163,153,1) 32%, rgba(255,77,151,1) 100%);
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    content: '';
    display: block;
    height: 18px;
    margin-top: 1rem;
    width: 190px;
    position: relative;
    top: -25px;
    left: 1.2px;
}

@media screen and (min-width:1024px){
    .storage__line::after{
        width: 340px;
        height: 15px;
        top: -25px;
    }
}

.storage__limit{
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

/*Data*/
.data{
    align-items: center;
    background: var(--color-white);
    border-radius: 9px;
    display: flex;
    margin: 0 auto;
    padding: 1.7rem 2.7rem 1.7rem;
    position: relative;
    top: -4rem;
    width: fit-content;
}

@media screen and (min-width:1024px){
    .data{
        margin: 0;
        position: relative;
        top: -5rem;
        border-radius: 10px 10px 0 0;
        right: 19.4rem;
        padding: 1rem 1.5rem 3rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90% 80%, 0% 80%);
    }
}

.data__no{
    color: var(--color-secondary);
    font-size: 4rem;
    font-weight: 700;
}

.data__text{
    margin-left: 1rem;
    font-weight: 700;
    opacity: 0.5;

}